.heading {
    min-width: 350px;
    font-size: large;
    padding: 10px;
    color:rgb(211, 211, 211);
    margin-top: auto;
}
.heading b {
    color: rgb(96, 96, 209);
}
@media (max-width: 600px){
    .heading {
        min-width: 0;
    }
  }